.card_wrapper {
    background: #e8cc88;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    flex-direction: column;
}
.wedding-card {
    text-align: center;
    max-width: 320px;
    height: 580px;
    margin: 0 auto;
    width: 100%;
    position: relative;
}
.wedding-card video{
    width: 100%;
    height: 100%;
    max-width: 320px;
    border: 0;
    position: relative;
    z-index: 1;
    object-fit: fill;
}
.card_outer{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 320px;
    max-height: 580px;
    overflow: hidden;
    z-index: 2;
    width: 100%;
}

.animation-container {
    transition: transform 0.5s;
    position: relative;
    max-width: 320px;
    margin: 0 auto;
    overflow: hidden;
}

.right-text {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    transform-origin: center right;
    box-shadow: -5px 0px 7px -4px rgb(151 55 0 / 40%);
    border-radius: 35px 0 0 35px;
    width: 180px;
    height: 580px;
    z-index: 9;
}
.right-text img{
    max-height: 100%;
    width: 182px;
    height: 580px;
}

.left-text {
    margin: 0;
    transform-origin: center left;
    position: relative;
    z-index: 9;
}
.left-text img{
    max-width: 100%;
    height: 580px;
}
.peral_btn{
    background: transparent;
    border: 0;
    padding: 0;
    position: absolute;
    top: 50%;
    right: 48%;
    z-index: 99;
    cursor: pointer;
}
.flap_content{
    position: absolute;
    top: 50%;
    left: 25%;
    transform: rotate(90deg);
}

.flap_content label{
    text-transform: capitalize;
    font-size: 26px;
    font-family: system-ui;
    color: #4F2400;
    position: relative;
    font-family: 'Parisienne', cursive;
}

.flap_content label:before{
    content: "";
    background: url(../../../assets/images/before.png) no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    top: -27px;
    left: 30px;
    width: 35px;
    height: 160px;
    transform: rotate(270deg);
}
.flap_content label:after{
    content: "";
    background: url(../../../assets/images/before.png) no-repeat;
    background-position: center;
    background-size: contain;
    position: absolute;
    top: -97px;
    left: 32px;
    width: 35px;
    height: 160px;
    transform: rotate(90deg);
}
.hand{
    position: absolute;
    top: 61%;
    left: -5px;
    width: 50px;
    height: 50px;
}
.hand img{
    width: 100%;
    height: 100%;
    mix-blend-mode: exclusion;
    animation: ClickHand 1s ease 0s 999 both;
}

@keyframes ClickHand{
    0% {
        transform: scale3d(1,1,1);
    }
    
    50% {
        transform: scale3d(0.9,0.9,0.9);
    }
    100% {
        transform: scale3d(1,1,1);
    }
}

.mobile_header {
    width: 350px;
    height: 60px;
    background: #efefef;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}
.mobile_body {
    width: 350px;
    border-left: 15px solid #efefef;
    border-right: 15px solid #efefef;
    height: 568px;
    box-sizing: border-box;
    position: relative;
}
.mobile_footer{
    width: 350px;
    height: 80px;
    background: #efefef;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    position: relative;
}
.mobile_footer:after {
    content: "";
    position: absolute;
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background: #fff;
    top: 21px;
    left: 152px;
}
.playPause_btns{
    position: absolute;
    top: 50%;
    right: -90px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.playPause_btns button{
    background: #fff;
    width: 28px;
    height: 28px;
    border: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
}
.marquee{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 99;
}

.marquee {
    animation: marquee-scroll 5s linear infinite;
  }
  
  @keyframes marquee-scroll {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }
.marquee span{
    background: #d5af6b;
    color: #fff;
    padding: 5px 10px;
    font-size: 13px;
    text-transform: capitalize;
    border-radius: 50px;
    display: inline-block;
}


@media all and (max-width:768px){
       .left-text{
        max-width: 70%;
    }
    .mobile_header,.mobile_footer  {
        display: none;
    }
    .mobile_body{
        border: 0;
        height: 100vh;
    }
    .card_outer,
    .animation-container{
        max-height:100vh ;
    }

    .right-text,
    .left-text,
    .right-text img,
    .left-text img{
        height:100vh ;
    }
}